.corp2{
    width: 100%;
    background-color: #F7FAF8;
}
.about{
    display: flex;
    align-content: center;
    flex-direction: column;
}
.navAbout{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: 10px;
}
.navAbout div{
    width: 50%;
    display: flex;
    justify-content: center;
}
.navAbout a{
    margin: 10px;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.navAbout a:hover{
    transition: .5s;
    color: #1EB57E;
    border-radius: 10px;
}
#buttonAbout{
    color: #1EB57E;
}
.aboutImgText{
    display: flex;
    justify-content: center;
}
.aboutImgText h1{
    font-size: 40px;
    color: #1EB57E;
}
.aboutImgText h2{
    font-size: 30px;
    color: #646564;
}
.aboutIcon h2{
    color: #1EB57E;
}
.aboutImgText p{
    line-height: 30px;
    color: #646564;
}
.aboutImg{ 
    width: 40%;
}
.aboutText{
    width: 40%;
    flex-direction: column;
    justify-content: center;    
}
.aboutIcon{
    margin-top: 60px;
}
.aboutIcon ion-icon{
    width: 30px;
    height: 30px;
    margin: 5px;
}
.aboutIcon img{
    width: 30px;
    height: 30px;
    margin: 5px;
}